Week5XML/public_html/artwork.xsd

<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XmlSchema.xsd to edit this template
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
        <xs:element name="Title" type="xs:string"/>
        <xs:element name="Media" type="xs:string"/>
        <xs:element name="Description" type="xs:string"/>
        <xs:element name="Created" type="xs:string"/>
        <xs:element name="Display" type="xs:string"/>

</xs:schema>
